{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current",
        "esmodules": true
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "package.json": "./package.json"
      }
    }]
  ],
  "env": {
    "debug": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}
